.main_body{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main_poke_body{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: row;
    // width: 1200px;
}

.poke_item{
    width: 200px;
    margin: 20px
}

.poke_item_body{
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.no_margin{
    margin-top: 3px;
    margin-bottom: 3px; 
}

.modal_body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal_img{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.search_button{
    width: 400px;
    display: flex;
    height: 32px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .main_poke_body{
        display: flex;
        flex-wrap: wrap;
        justify-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
}
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
        }
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
        }
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: row;
        }
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: row;
        }
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: row;
        }
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: row;
        }
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: row;
        }
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: row;

            width: 1200px;
        }
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: row;
        }
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }   
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        } 
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }  
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }   
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        } 
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }    
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }    
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .main_poke_body{
            display: flex;
            flex-wrap: wrap;
            justify-items: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
    